body {
  background:
    radial-gradient(
      lightgrey,
      black
    );
}

.warning__title {
  color: red;
  background-color: white; 
  padding: 10px 0;
}

.main-page-img__container {
  text-align: center;
}

.main-page-img {
  width: 50%;
}

p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.mainNav {
  background-color: black;
}

h1, h2 {
  text-align: center;
  color: white;
}

.social-media__links {
  display: flex;
  justify-content: space-around;
}

.ghost-riches__link {
  font-size: 25px;
}