body {
  /*background-color: black;*/
  background-image:
    radial-gradient(
      black,
      grey
    );
}

.main-page-img__container {
  text-align: center;
  /*background: radial-gradient(circle at 100px 100px, #5cabff, #000);*/
}

.main-page-img {
  width: 50%;
}

p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.mainNav {
  background-color: black;
}

h1, h2 {
  text-align: center;
  color: white;
}

.social-media__links {
  display: flex;
  justify-content: space-around;
}

.ghost-riches__link {
  font-size: 25px;
}